@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="POST">
    <div>
        <label>Digite as frases à serem enviadas e comparadas</label>
        <br />
        <input type="text" name="frase" value="@Model.fraseInfo.frase"/>
        <input type="text" name="frase2" value="@Model.fraseInfo2.frase"/>
        <button type="submit">Enviar</button>
        <br/>
        <label>@Model.statusMessage</label>
    </div>
</form>

